.header {
    background: #0d1117;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.account {
    display: block;
}