.footer {
    background: transparent;
    width: 100%;
    padding: 20px 20px 0;
}
.container {
    padding: 20px;
    border-top: 1px solid #fff2;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.tabs {
    margin-top: 10px;
}
.column:not(.claim) {
    margin-bottom: 40px;
    flex-shrink: 1;
    padding: 0 20px;
}
.claim {
    color: #727888;
}